<div class="topnav">
    <a href="/profile"><img class="logo" src="/public/images/logo.png" /></a>
    <a href="/add">Create</a>
    <a href="/profile">Browse</a>
    <a href="/profile">My Profile</a>
    <a href="/logout">Logout</a>
  </div>