<style>
  .topnav { overflow: hidden; background-color: #bfbfbf; } .topnav img.logo {
  float: left; width: 27px; height: 27px; margin: 0px; padding: 0px; } .topnav a
  { float: left; color: #000000; text-align: center; padding: 14px;
  text-decoration: none; font-weight: bold; font-size: 24px; } .topnav a:hover {
  background-color: #ffea00; color: #000000; }
</style>

<div class="topnav">
  <a href="/profile"><img class="logo" src="/public/images/logo.png" /></a>
  <a href="/add">Create</a>
  <a href="/profile">Browse</a>
  <a href="/profile">My Profile</a>
  <a href="/logout">Logout</a>
</div>