<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/public/css/main.css">
    <link rel="icon" type="image/x-icon" href="/public/images/favicon.ico">
    <title>BIS</title>
  </head>
  <body>
    {{{body}}}
    <script src="/public/js/main.js"></script>
  </body>
</html>
