<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/public/css/main-styles.css">
    <title>{{title}}</title>
  </head>
  <body>
    {{{body}}}
    <script src="/public/js/main.js"></script>
  </body>
</html>
