<link href="/public/css/edit.css" rel="stylesheet" />
<header>
   {{> navbar}}
</header>
<main>
  <form method="POST" action="/edit/room/{{roomId}}">
    <h1 class="header">Editing Room</h1>
    <div class="form-container">
      <label for="roomNameInput">Room Name: </label>
      <input
        type="text"
        id="roomNameInput"
        name="roomNameInput"
        value="{{roomName}}"
      /><br><br>
      <label for="roomDescriptionInput">Room Description: </label>
      <input
        type="text"
        id="roomDescriptionInput"
        name="roomDescriptionInput"
        value="{{roomDescription}}"
      /><br><br>
      <hr class="divider">
      <button class="confirm-button" id="submitButtonDiv" name="submit" type="submit" value="Submit">Submit Changes</button><br>

      {{! TODO }}
      <ul class="error-message" id="alerts">
        {{#each alerts}}
          <li>{{this}}</li>
        {{/each}}
      </ul>
    </div>
  </form>
</main>