<link href="/public/css/edit.css" rel="stylesheet" />
<header>
   {{> navbar}}
</header>
<main>
  <form method="POST" action="/edit/container/{{containerId}}">
    <h1 class="header">Editing Container</h1>
    <div class="form-container">
      <label for="containerNameInput">Container Name: </label>
      <input
        type="text"
        id="containerNameInput"
        name="containerNameInput"
        value="{{containerName}}"
      ><br><br>
      <label for="containerDescriptionInput">Container Description: </label>
      <input
        type="text"
        id="containerDescriptionInput"
        name="containerDescriptionInput"
        value="{{containerDescription}}"
      ><br><br>

      <hr class="divider" />
      <button
        class="confirm-button"
        id="submitButtonDiv"
        name="submit"
        type="submit"
        value="Submit"
      >Submit Changes</button><br>

      <ul class="error-message" id="alerts">
        {{#each alerts}}
          <li>{{this}}</li>
        {{/each}}
      </ul>
    </div>
  </form>
</main>