{{!-- <html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Login</title>
  </head>
  <body>
    <header>
      <h1>Login</h1>
    </header>
    <main>
      <form action="/login" id="login-form" method="post">
        <label for="emailInput">Email Address</label><br />
        <input type="email" id="emailAddressInput" name="emailAddressInput" /><br /><br />
        <label for="passwordInput">Password</label><br />
        <input type="password" id="passwordInput" name="passwordInput" /><br /><br />
        <input type="submit" value="Submit" /><br /><br />
      </form>
      <a href="/register">Click here to register!</a><br /><br />
    </main>
  </body>
</html> --}}

<div>
  <header>
    <p><center><img src="/public/images/logo.png" width="300" height="300"></center></p>
  </header>
</div>