<link href="/public/css/login.css" rel="stylesheet" />

<main>
  <div class="login-container">
    <div>
      <header>
        <p><center><img
              src="/public/images/logo.png"
              width="120"
              height="120"
            /></center></p>
      </header>
    </div>

    <form id="login-form" action="/login" method="POST">
      <input
        class="text-container"
        name="userNameInput"
        id="userNameInput"
        type="text"
        value="{{userName}}"
        placeholder="Username"
      /><br />
      <input
        class="text-container"
        name="passwordInput"
        id="passwordInput"
        type="password"
        value="{{password}}"
        placeholder="Password"
      /><br />
      <input
        class="confirm-button"
        name="submit"
        id="submit"
        type="submit"
        value="Submit"
      />
    </form>

    <hr class="divider" />

    <a href="/register">
      <button class="redirect-button">
        Sign Up
      </button>
    </a>

    {{#if success}}
      <p id="registrationSuccessful">Registration successful. Please login.</p>
    {{/if}}
    <ul class="error-message" id="alerts">
      {{#each alerts}}
        <li>{{this}}</li>
      {{/each}}
    </ul>
  </div>
  <p class="description">Hello! This is a building inventory system designed to fit your needs.
    Searching and adding your items is easy, as we have multiple layers of
    organization. In case you need an extra pair of hands to organize, our web
    application allows for collaboration within buildings.</p>
</main>