<link href="/public/css/login.css" rel="stylesheet">
<main>
  <h1 class="header">Login</h1>
  <div class="login-container">
    <div>
      <header>
        <img class="logo" src="/public/images/logo.png" alt="logo">
      </header>
    </div>

    <form id="login-form" action="/login" method="POST">
      <input
        class="text-container"
        name="userNameInput"
        id="userNameInput"
        type="text"
        value="{{userName}}"
        placeholder="Username"
      ><br>
      <input
        class="text-container"
        name="passwordInput"
        id="passwordInput"
        type="password"
        value="{{password}}"
        placeholder="Password"
      ><br>
      <input
        class="confirm-button"
        name="submit"
        id="submit"
        type="submit"
        value="Submit"
      >
    </form>

    <hr class="divider">

    <form action="/register">
      <button type="submit" class="redirect-button">Sign Up</button>
    </form>

    {{#if success}}
      <p id="registrationSuccessful">Registration successful. Please login.</p>
    {{/if}}

    {{#if alerts}}
      {{#each alerts}}
        <p class="error-message">{{this}}</p>
      {{/each}}
    {{/if}}
  </div>

  <p class="description">Hello! This is a building inventory system designed
    to fit your needs. Searching and adding your items is easy, as we have
    multiple layers of organization. In case you need an extra pair of hands
    to organize, our web application allows for collaboration within
    buildings.</p>
    <script src="public/js/login.js"></script>
</main>
