<link rel="stylesheet" href="/public/css/building.css">
{{> navbar}}
<main>
  <img src="{{profilePicture}}" />
  <h1 class="header">{{userName}}'s Profile</h1>
  <h2 class="subheader">{{firstName}} {{lastName}}</h2>
</main>