body {
  align-items: center;
  margin: 0px;
  overflow: auto;
  overflow-y: scroll;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  overflow: hidden;
  background-color: #bfbfbf;
}

.topnav img.logo {
  float: left;
  width: 27px;
  height: 27px;
  margin: 0px;
  padding: 0px;
}

.topnav a {
  float: left;
  color: #000000;
  text-align: center;
  padding: 14px;
  text-decoration: none;
  font-weight: bold;
  font-size: 24px;
}

.topnav a:hover {
  background-color: #ffea00;
  color: #000000;
}

.header {
  text-align: left;
  font-size: 36px;
  font-weight: bold;
  margin-left: 10px;
}

.subheader {
  text-align: left;
  font-size: 16px;
  font-weight: normal;
  margin-left: 10px;
  padding-top: 4px;
  padding-bottom: 4px;
}

.divider {
  border-top: 4px solid #bbb;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.submit-button {
  background-color: #ffd800;
  color: black;
  padding: 6px;
  border-radius: 12px;
  text-decoration: none;
  margin-left: 10px;
}

.submit-button:hover {
  background-color: #ffea00;
}

.layers {
  list-style-type: none;
}

.layers a {
  background-color: #ffd800;
  color: black;
  padding: 6px;
  border-radius: 12px;
  text-decoration: none;
  margin-left: 10px;
}

.layers a:hover {
  background-color: #ffea00;
}

.layers p {
  background-color: gray;
  color: black;
  padding: 6px;
  border-radius: 12px;
  text-decoration: none;
  width: 20%;
  margin-left: 10px;
}

/* .layers p {
    background-color: #ffd800;
    color: black;
    padding: 15px 25px;
    text-decoration: none;
} */

/* #building {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 20px;
}

#buildingMapDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.linkDiv {
    display: flex;
    flex-direction: row;
} */
