body {
  align-items: center;
  margin: 0px;
  overflow: auto;
  overflow-y: scroll;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  overflow: hidden;
  background-color: #bfbfbf;
}

.topnav img.logo {
  float: left;
  width: 27px;
  height: 27px;
  margin: 0px;
  padding: 0px;
}

.topnav a {
  float: left;
  color: #000000;
  text-align: center;
  padding: 14px;
  text-decoration: none;
  font-weight: bold;
  font-size: 24px;
}

.topnav a:hover {
  background-color: #ffea00;
  color: #000000;
}

.header {
  text-align: center;
  font-size: 36px;
  font-weight: bold;
  margin-left: 10px;
}

.form-container {
  border: 2px solid gray;
  margin: auto;
  padding: 15px;
  position: relative;
  text-align: center;
  width: 40%;
  font-size: 16px;
}

.confirm-button {
  background-color: #ffd800;
  border: none;
  width: 30%;
  padding: 5px;
  margin: 8px 0;
  font-weight: bold;
  font-size: 24px;
}

.confirm-button:hover {
  background-color: #ffea00;
  cursor: pointer;
}

.item-confirm-button {
  background-color: #ffd800;
  border: none;
  width: 30%;
  padding: 5px;
  margin: 8px 0;
  font-weight: bold;
  font-size: 24px;
}

.item-confirm-button:hover {
  background-color: #ffea00;
  cursor: pointer;
}

.divider {
  border-top: 4px solid #bbb;
  border-radius: 5px;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

.center-helper {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
