body {
  align-items: center;
  overflow: auto;
  overflow-y: scroll;
}

.login-container {
  border: 2px solid gray;
  margin: auto;
  padding: 15px;
  position: relative;
  text-align: center;
  width: 40%;
  transform: translateY(10%);
}

.text-container {
  width: 100%;
  padding: 6px;
  margin: 8px 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

.confirm-button {
  background-color: #ffd800;
  border: none;
  width: 100%;
  padding: 5px;
  margin: 8px 0;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 24px;
}

.confirm-button:hover {
  background-color: #ffea00;
  cursor: pointer;
}

.redirect-button {
  background-color: gray;
  border: none;
  width: 100%;
  padding: 5px;
  margin: 8px 0;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 24px;
  text-decoration: none;
}

.redirect-button:hover {
  background-color: #bfbfbf;
  cursor: pointer;
}

.divider {
  border-top: 4px solid #bbb;
  border-radius: 5px;
  margin: auto 1;
  width: 50%;
}

.description {
  background-color: #bfbfbf;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  margin: auto;
  padding: 20px;
  text-align: center;
  transform: translateY(120%);
  width: 60%;
}

.register-label {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  margin: auto;
  text-align: center;
}

.logo {
  width: 120px;
  height: 120px;
  text-align: center;
  padding: 10px;
}

.error-message {
  color: red;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: bold;
  margin: auto;
  text-align: center;
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margins */
}
